.empAppHeader {
    background-color: #5fc7e0;
    height: 180px;
}

.fixedFooter {
    text-align: center;
    position: fixed;
    bottom: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: rgba(248, 248, 248, 0.7);
    width: 100%;
}

.mobileSection {
    height: 100px;
    background-color: white;
    margin-top: 20px;
}