body {
    background-color: #F8F8F8;
}

.add {
    margin-bottom: 20px;
    width: 100%;
    padding-left: 40%;
}

.add_button {
    margin-left: -20px;
    margin-top: -4px;
    margin-right: -7px;
    vertical-align: middle;
    background-color: #45BEF4;
    color: #FFF;
    font-size: 14px !important;
    font-weight: 600;
    padding: 8px 12px;
    border: none;
    transition: all .3s ease;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    margin: 4px 5px;
    cursor: pointer;
}

.send_button {
    margin-left: -20px;
    margin-top: -4px;
    margin-right: -7px;
    vertical-align: middle;
    background-color: #72d285;
    color: #FFF;
    font-size: 14px !important;
    font-weight: 600;
    padding: 8px 12px;
    border: none;
    transition: all .3s ease;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    margin: 4px 5px;
    cursor: pointer;
}

.timesheetDays {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 10px -10px 45px;
    color: #444444;
    width: 100%;
}

.futureTimesheets > h2 {
    width: 100%;
    text-align: center;
    padding: 0px 10px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.ant-row.css-dev-only-do-not-override-1vtf12y {
    width: 100%;
    justify-content: center;
}

.ant-steps {
    margin-left: -8px !important;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-steps .ant-steps-item-finish .ant-steps-item-icon >.ant-steps-icon .ant-steps-icon-dot,
:where(.css-dev-only-do-not-override-1vtf12y).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after,
.ant-steps-item-tail {
    background: #45BEF4;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
    width: 30px;
}

.ant-steps-item-title {
    width: 75px;
    padding-right: 10px;
    font-family: Arial;
    font-size: 8.5pt !important;
    line-height: 1.5;
    text-indent: initial;
    border-spacing: 2px;
    color: #444444;
    
    
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-steps
{
    margin-left: -71px;
    margin-right: 0px;
}
.ant-steps-item-description,
:where(.css-dev-only-do-not-override-1vtf12y).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
    font-weight: 600;
    color: #45BEF3;
    font-family: Arial;
    font-size: 8.5pt !important;
    line-height: 1.5;
    
}

.timesheetCard {
    width: 314px;
    background-color: #FFF;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.15) !important;
    /*margin: 10px;*/
    border: none;
    color: #444444;
    width: 400px;
    max-width: 100%;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 10px -10px 45px;
    position: relative;
}

.timesheetCard.approved {
    opacity: 0.7;
    background-color: #E1E1E1;
    box-shadow: none !important;
}

.timesheetCard.future, button.editOptions.future {
    opacity: 0.7;
}

.timesheetCard h3 {
    font-family: Arial;
    font-size: 8.5pt;
    line-height: 1.5;
    font-weight: bold;
    color: #444444;
}

.timesheetCard h3 .confirm_label {
    float: right;
    margin-right: -69px;
}

.timesheetCard h3 .check {
    float: right;
    margin-right: 34px;
}

.timesheetCard h3 .not_approved {
    display: none;
}

.timesheetCard p.duration {
    font-weight: 700;
    font-size: 12px;
    color: #45BEF3;
    font-family: Arial;
}

.timesheetCard p {
    font-family: Arial;
    font-size: 8.5pt;
    line-height: 1.5;
    color: #444444;
    font-weight: 500;
}

.timesheetCard p.expenses {
    color: #37C3CA;
    font-family: Arial;
    font-size: 8.5pt;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    text-indent: initial;
    margin-top: 5px;
    border-spacing: 2px;
}

.timesheetCard .button {
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: -7px;
    position: relative;
    background-color: #45BEF4;
    color: #FFF;
    margin-left: 34%;
    font-size: 14px !important;
    font-weight: 600;
    padding: 8px 12px;
    border: none;
    transition: all .3s ease;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    background-position: 12px center;
    background-repeat: no-repeat;
    border-collapse: collapse;
}

.timesheetCard .button:hover, .add_button:hover {
    background-color: #4ac661;
}